header.header {
    outline: 3px solid red;
}

header.header:after {
    content: '';
    display: table;
    clear: both;
}

.logo-wrap {
    width: 10%;
    float: left;
}
.logo {
    width: 100%;
}

.nav {
    font-size: 0;
    float: left;
}

.nav__item {
    font-size: 1rem;
    display: inline-block;
    position: relative;
}

.nav__item:hover .dropdown {
    background-color: blueviolet;
    display: block;
}

.nav__link,
.dropdown__link {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.dropdown {
    position: absolute;
    display: none;
}

.dropdown__item {
    display: block;
    
}